#main {
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

body {
    transition: transform .3s cubic-bezier(0.6, -0.58, 0.74, 0.05), opacity .3s cubic-bezier(0.6, -0.58, 0.74, 0.05);
}

.btn_ {
    position: relative;
    overflow: hidden;
}

.btn_ span,
.btn_dark_ span {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate .8s ease;
}

.btn_dark_ span {
    background-color: #000;
}

@keyframes animate {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    to {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}