div.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
    position: relative;
    bottom: 0;
    height: 32px;
}

span.name {
    font-size: 14px;
    /* height: 1.4em; */
    min-width: 10em;
    margin-right: 14px;
    transition: color 0.2s ease;
}

.input-text input {
    border: none;
    outline: none;
    border-bottom: 2px #000000;
    background: none;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: inherit;
    z-index: 10;
}

.input-data {
    border-radius: 4px;
    overflow: hidden;
    /* background: #f6f8fa !important; */
    outline: 1px solid #0000001c;
    height: 30px;
    /* width: 100%; */
    flex: 1;
    padding: 0 8px 2px 8px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.input-data-file {
    /* width: 440px; */
    display: inline-block;
}

.input-data:hover,
button.command-button:hover,
.input-file .choose-file:hover {
    background: #00000005;
}

.input-data-list {
    padding-top: 0.1em;
    display: inline-flex;
    align-items: center;
    justify-items: end;
    max-width: 16rem;
}

.input-data-list:active>div {
    color: #00000094;
}

.input-data-list>div {
    font-size: 0.8rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.06s ease;
}

.input-list ul.option {
    height: 2rem;
    position: absolute;
    margin-top: 0.3rem;
    background: #fafafa;
    margin-left: -10px;
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #00000036;
    transition: all 0.2s ease;
    overflow: hidden;
    font-size: 0.8rem;
    min-width: 16.3rem;
    max-height: 350px;
    box-shadow: 0px 0px 6px #00000030;
    cursor: default;
    z-index: 20100;
}

.input-list li.option {
    list-style: none;
    transition: all 0.1s ease;
    padding: 5px 6px;
    border-radius: 6px;
    white-space: nowrap;
}

.input-list li.option:hover {
    background: #00000021;
}

.input-list li.option:active {
    background: #00000036;
    transform: scale(0.98);
}

.input-list ul.option>div {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
}

.input-text .underline {
    background: #600081;
    margin-left: -8px;
    height: 2px;
    width: calc(100% + 16px);
    transform: scale(0, 1);
    opacity: 0;
    border-radius: 6px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.input-text input:focus~.underline {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

div.page-title {
    font-family: "Harmony-light";
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 1.2rem 1rem;
}

.btn-disable {
    pointer-events: none;
}

/* 开关按钮 */

.input-box {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
}

.input-box label {
    position: relative;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
}

.input-box label span {
    width: 39px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 3px;
    transition: 0.5s;
    background-color: #fff;
    border-radius: 200px;
    outline: 1px solid #5a5a5ab7;
    transition: all 0.3s cubic-bezier(0, 0.6, 0.32, 0.99);
}

.input-box label span>div {
    width: 13.5px !important;
    height: 13.5px !important;
    border-radius: 200px !important;
    position: absolute;
    background-color: #5a5a5a !important;
    transition: all 0.3s cubic-bezier(0, 0.6, 0.32, 0.99) !important;
}

.input-box label input:checked~span {
    outline: 1px solid #44005b;
    background-color: #44005b;
}

.input-box:hover span>div {
    transform: scale(1.1);
}

.input-box:active span>div {
    transform: scale(0.85);
}

.input-box label input:checked~span>div {
    background-color: #fff !important;
    margin-left: calc(100% - 20px);
}

.input-box input {
    display: none;
}

/* 命令按钮 */

button.command-button {
    width: 100%;
    height: 30px;
    max-width: 130px;
    background: #ffffff;
    outline: 1px solid #0000001c;
    border: none;
    border-radius: 4px;
    transition: all .1s ease;
}

button.command-button:active,
.input-file .choose-file:active {
    transform: scale(0.98);
    background-color: #0000001f;
}

/* 文件选择 */

.input-file .choose-file {
    width: 42px;
    height: 32px;
    margin-left: 6px;
    outline: 1px solid #0000001c;
    background: #fff;
    border-radius: 4px;
    transition: all 0.1s ease;
}

.input-file .choose-file>i {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fa";
}

/* 小型控件 */

.mini {
    max-width: 70px;
    text-align: center;
    display: inline;
    margin: 0 10px;
    flex-shrink: 0;
}

/* 滑块 */

.slider {
    width: 250px;
    display: flex;
    align-items: center;
    float: right;
}

.slider>div {
    background: #600081;
    height: 3.5px;
    width: 4px;
    /* min-width: 4px; */
    border-radius: 10px;
    position: absolute;
    pointer-events: none;
}

.slider>div.slider_btn>div {
    width: 53%;
    height: 53%;
    background: #600081;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.slider input[type=range] {
    appearance: none;
    outline: none;
    height: 100%;
    background: #00000000;
    border-radius: 100px;
    box-sizing: content-box;
}

.slider input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-radius: 100px;
    outline: 1px solid #ececec;
    background: #600081;
    box-shadow: inset 0 0 0 5px #ffffff;
    pointer-events: all;
    transition: all .2s ease;
}

.slider input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: inset 0 0 0 3.7px #ffffff;
}

.slider input[type=range]:active::-webkit-slider-thumb {
    box-shadow: inset 0 0 0 6px #ffffff;
}

.slider input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 3.5px;
    border-radius: 10px;
    background-color: #00000045
}


/* 不可用控件 */

.disable {
    pointer-events: none;
}

.disable *,
.disable input::-webkit-input-placeholder {
    color: #00000069;
}

.disable .input-data,
.disable .choose-file {
    outline: 1px solid #00000000;
    transition: all 0.2s ease;
}

.disable .slider_btn>div {
    background: #7da8e952 !important;
    transition: all 0.2s ease;
}

.disable .orbit>div {
    background: #9e9e9e8f !important;
    transition: all 0.2s ease;
}

.disable .input-box label input:checked~span {
    outline: 1px solid #7da8e94f;
    background-color: #7da8e94f;
    transition: all 0.2s ease;
}

/* 其他设置 */

input:focus::-webkit-input-placeholder {
    color: #00000000;
}


.input-color {
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    outline: 1px solid #0000001c;
    height: 30px;
    width: 100%;
    padding: 0 8px 2px 8px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

/* 颜色选择器 */

div#color_chooser {
    width: 440px;
    height: 328px;
    padding-right: 1px;
    background-color: #e5e5e5;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

div#color_chooser *::-webkit-scrollbar {
    width: 3.5px;
}

div#color_chooser *::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 10px;
}

div#color_chooser *::-webkit-scrollbar-track {
    background-color: #00000000;
}

div#color_chooser>div:first-child {
    width: 75px;
    height: 100%;
    background-color: #ededed;
    overflow: hidden overlay;
}

div#color_chooser>div:first-child ul {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 0;
}

div#color_chooser>div:first-child ul>li {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#color_chooser>div:first-child ul>li>div {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 33%);
    background-color: #008c48;
}

div#color_chooser>div:last-child {
    width: 100%;
    height: 100%;
    padding: 16px 0 20px 0;
    overflow: hidden overlay;
}

div#color_chooser>div:last-child>div.nearly-color {
    width: calc(100% - 39px);
    height: 50px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
    overflow: hidden;
    display: flex;
}

div#color_chooser>div:last-child>div.nearly-color .a,
div#color_chooser>div:last-child>div.nearly-color .b {
    height: 100%;
    transition: transform .2s ease;
}

div#color_chooser>div:last-child>div.nearly-color .a:hover {
    transform: scale(1.2);
}

div#color_chooser>div:last-child>div.nearly-color .a {
    width: 15%;
}

div#color_chooser>div:last-child>div.nearly-color .b {
    width: 50%;
}

div#color_chooser>div:last-child>div.color {
    width: 335px;
    height: 110px;
    margin: 10px auto 5px auto;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
}

div#color_chooser>div:last-child>div.color input {
    appearance: none;
    width: 170px;
    height: 30px;
    background-color: #0000;
    outline: none;
    float: left;
    display: flex;
    align-items: center;
}

div#color_chooser>div:last-child>div.color input::-webkit-slider-thumb {
    appearance: none;
    border: 3.4px solid rgb(0, 0, 0);
    height: 16.5px;
    width: 16.5px;
    margin-top: -3px;
    border-radius: 80px;
    background: #0000;
    transition: all .15s ease;
}

div#color_chooser>div:last-child>div.color input:active::-webkit-slider-thumb {
    border: 3.4px solid rgba(0, 0, 0, 0.445);
}

div#color_chooser>div:last-child>div.color input::-webkit-slider-runnable-track {
    appearance: none;
    height: 11px;
    border-radius: 10px;
}

div#color_chooser>div:last-child>div.color input#h::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, red 0, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, red 100%)
}

div#color_chooser>div:last-child>div.color input#s::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0, red 100%);
}

div#color_chooser>div:last-child>div.color input#v::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, rgb(0, 0, 0) 0, red 100%);
}

div#color_chooser>div:last-child>div.color input::before {
    margin-right: 10px;
    font-weight: 800;
    font-family: 'Harmony-re';
    margin-left: 10px;
}

div#color_chooser>div:last-child>div.color input#h::before {
    content: 'H';
}

div#color_chooser>div:last-child>div.color input#s::before {
    content: 'S';
}

div#color_chooser>div:last-child>div.color input#v::before {
    content: 'V';
}

div#color_chooser>div:last-child>div.color div.input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

div#color_chooser>div:last-child>div.color div.input>div {
    display: flex;
    font-size: 12px;
    margin-right: 13px;
    align-items: center;
    margin-top: 10px;
}

div#color_chooser>div:last-child>div.color div.input>div>div {
    margin-right: 10px;
    font-weight: 800;
    color: #666666;
}

div#color_chooser>div:last-child>div.color input[type="text"] {
    width: 106px;
    height: 27px;
    padding: 5px 7px;
    border: 1px solid #d0d7de82;
    border-radius: 6px;
    background-color: #00000000;
    outline: none;
    transition: all .2s ease;
    font-family: consolas;
}

div#color_chooser>div:last-child>div.color input[type="text"]:focus-visible {
    border: 1px solid #0080ff;
    box-shadow: inset 0 0 0 1px #0969da;
}


div#color_chooser>div:last-child>ul {
    width: calc(100% - 40px);
    height: auto;
    margin: 0 auto;
    padding: 0;
}

div#color_chooser>div:last-child>ul>li {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
    background: #f9f9f9;
    display: flex;
    align-items: center;
}

div#color_chooser>div:last-child>ul>li div {
    width: 70px;
    height: 100%;
    color: #666666;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

div#color_chooser>div:last-child>ul>li input {
    width: 256px;
    height: 27px;
    padding: 5px 12px;
    border: 1px solid #d0d7de82;
    border-radius: 6px;
    background-color: #00000000;
    outline: none;
    transition: all .2s ease;
    font-family: 'consolas';
}

div#color_chooser>div:last-child>ul>li input:focus-visible {
    border: 1px solid #0080ff;
    box-shadow: inset 0 0 0 1px #0969da;
}