* {
    transition: color 0.1s ease, background-color 0.1s ease;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

*::selection {
    background: rgba(45, 170, 219, 0.3);
}

::-webkit-scrollbar {
    width: 0px;
}

:hover::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a87a;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fafbfc00;
}

#setting_pg {
    margin-left: -60px;
}

#win {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000047;
    transition: background-color 0.3s ease;
    /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); */
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    /* background: url(https://drscdn.500px.org/photo/29113281/q%3D80_h%3D600/v2?sig=d2154aab82d4596020a8b022661bb4209bd2347b7907b90f1eca2dc0fe23d8af) no-repeat center; */
    /* background-size: cover; */
}

div.title-bar {
    height: 50px;
    background: #cacacaad;
    -webkit-app-region: drag;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    background: #008023;
    color: #fff;
}

div.title {
    display: flex;
    margin-left: 1rem;
    align-items: center;
    padding: 0 20px;
}

div.title-bar div#title {
    font-family: "minecraft_ten";
    font-size: 1.3rem;
    height: 1.2em;
}

div.title-bar>div.button {
    width: calc(50px * 2);
    overflow: hidden;
    border-top-right-radius: 8px;
    display: flex;
    margin-right: 0.6rem;
}

div.title-bar>div.button .window-btn {
    width: 50px;
    display: flex;
    justify-content: center;
    font-family: "fa-pro" !important;
    align-content: center;
    -webkit-app-region: no-drag;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease;
}

div.title-bar>div.button .window-btn:active {
    transform: scale(0.9);
}

div.title-bar>div.button #max svg {
    width: 32px;
    height: 15px;
}

div.sidebar {
    font-size: 16px;
    position: absolute;
    z-index: 10;
    margin: 0;
    top: 0px;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-top: 4rem; */
    /* padding: 1rem 0.5rem 7px 0.5rem; */
    /* padding-bottom: 3rem; */
}

div.sidebar ul.sidebar-links {
    padding: 0;
    list-style-type: none;
    /* display: flex; */
    /* width: calc(250px - 1rem); */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 44px);
}

div.sidebar ul.sidebar-links>div {
    width: 100%;
}

main.page {
    padding-left: 60px;
    box-sizing: border-box;
    padding-bottom: 2rem;
    display: block;
    /* padding-left: 230px; */
    overflow-y: overlay;
    overflow-x: hidden;
    height: 100%;
    transition: all 0.3s ease;
    background: #ffffff78;
}

div.page {
    margin: 0 auto;
    padding: 0rem 1.2rem 0rem 1.2rem;
    display: block;
    margin-top: 0;
    opacity: 1;
}

div.sidebar li {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 100%;
    margin: 0.2rem 0;
    transition: transform 0.07s ease;
}

div.sidebar li:active {
    transform: scale(0.95);
}

div.sidebar .sidebar-active {
    border-radius: 0.4rem;
    background-color: rgba(208, 215, 222, 0.24);
}

div.sidebar .sidebar-active::after {
    background-color: #007bff;
    content: "";
    height: 1.7rem;
    width: 5px;
    position: absolute;
    margin-top: -2.1rem;
    margin-left: -0.5rem;
    border-radius: 3px;
}

div.sidebar .sidebar-item span,
div.sidebar .sidebar-item a {
    color: #232323;
    width: 100%;
    display: block;
    cursor: pointer;
}

div.sidebar span.sidebar,
div.sidebar a.sidebar {
    opacity: 1 !important;
    border-bottom: 0 !important;
    padding: 0.4rem 0.7rem;
    transition: all 0.15s ease;
    font-size: 1rem;
    max-height: 38px;
    padding-left: 10px;
    overflow: hidden;
    max-height: 36.75px;
}

div.sidebar li.active {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 3.5rem;
}

a,
img,
span,
button {
    text-decoration: none;
    user-select: none;
}

div.sidebar {
    width: 230px;
}

div.sidebar .sidebar-item span.sidebar:hover,
div.sidebar .sidebar-item a.sidebar:hover {
    border-radius: 0.4rem;
    background-color: #aeaeae45;
}

div.sidebar>div {
    margin: 1rem 0.5rem 7px 0.5rem;
    height: 100%;
    /* width: 0; */
    /* z-index: 100; */
}

body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
    margin-left: 5px;
}

.user-panel {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.466); */
    width: calc(250px - 2.4rem) !important;
    padding-bottom: 0.7rem;
}

.user-panel img {
    height: auto;
    width: 2.1rem;
}

.user-panel .image {
    display: inline-block;
    padding-left: 0.8rem;
}

.d-flex {
    display: flex;
    height: 3rem;
}

.d-block,
.user-add {
    font-size: 1rem;
    color: #000000;
}

a {
    color: #007bff;
}

.info {
    padding: 5px 5px 5px 10px;
}

.user-panel {
    margin: 0 0 1rem 0;
}

div.sidebar li.sidebar-header {
    color: #292d32;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    list-style: none;
}

div.sidebar li.sidebar-header:active {
    transform: scale(1);
}

i.nav-icon {
    font-size: 1.1rem;
    font-weight: 800;
    color: #000;
    font-family: "fa-pro";
    font-style: normal;
    line-height: 1.5;
    width: 1.35em;
    display: inline-block;
    margin-right: 0.8rem;
    text-align: center;
}

span.sidebar p,
a.sidebar p {
    display: inline;
    white-space: nowrap;
    transition: all 0.2s ease;
}

h1 {
    font-family: Harmony-re;
    font-size: 2rem;
    font-weight: 100;
}

div.page {
    max-width: none !important;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    margin-left: -8px;
}

.container-left {
    width: calc(60% - 15px);
}

.container-right {
    width: calc(40% - 15px);
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #0000001a;
    background-color: #ffffffe0;
    border: 1px solid #0000003b;
    margin: 15px 0 15px 0;
    width: calc(100% - 20px);
}

.card-icon {
    width: 2rem;
    height: 2em;
    margin-right: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon i {
    font-family: 'fa';
    font-style: normal;
    font-size: 1.3rem;
}

.card-header,
.card-body,
.card-footer {
    padding: 1.15rem 1.25rem;
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header>.card-button {
    width: 2.3em;
    height: 2.3em;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

.card-header>.card-button:hover {
    background-color: #00000012;
}

.card-header>.card-button:active {
    background-color: #00000026;
}

.card-header>.card-button:active>i {
    transform: scale(0.85, 0.85) rotate(180deg);
}

.card-header>.card-title {
    display: flex;
}

.card-header h4 {
    font-weight: 100;
    height: 1.3em;
}

.card-header p {
    font-size: 0.7rem;
    color: #0000009c;
}

.card-button>i {
    font-family: "fa-pro";
    font-style: normal;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.card-body {
    overflow: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: height 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card-body>div {
    margin: 23px 33px;
    font-size: 14px;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    border-radius: 0 0 0.5rem 0.5rem;
}

.card-footer .window-btn {
    background-color: #2da44e;
    color: #fff;
    border: 1.5px solid rgba(27, 31, 36, 0.15);
    border-radius: 0.3rem;
    padding: 6px 8px;
    font-size: 8px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.card-footer .window-btn:hover {
    background-color: #2c974b;
}

.not-expanded .card-header {
    border-bottom: 1px solid rgb(0 0 0 / 0%);
}

.not-expanded .card-body {
    border-top: none;
}

.not-expanded .card-header>.card-button>i {
    transform: rotate(0deg);
}

.not-expanded .card-header>.card-button:active>i {
    transform: scale(0.85, 0.85) rotate(0deg);
}

.navbar {
    transition: none;
}

div.sidebar::-webkit-scrollbar {
    width: 8px;
}

div.sidebar::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border-radius: 10px;
    transition: all 1s ease;
}

div.sidebar::-webkit-scrollbar-track {
    background-color: #00000000;
}

div.sidebar:hover::-webkit-scrollbar {
    width: 8px;
}

div.sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.127);
    border-radius: 10px;
}

div.sidebar:hover::-webkit-scrollbar-track {
    background-color: #0080ff00;
}

.copyright {
    margin-top: 1rem;
    height: 3.3rem;
    position: fixed;
    width: calc(100vw - 250px);
    bottom: 0;
    background: #fff;
    border: 1px solid #aeaeae45;
    border-left: none;
    line-height: 3;
}

.user-add {
    height: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    border-radius: 0.4rem;
    transition: transform 0.07s ease;
}

.user-add:active {
    transform: scale(0.95);
}

.user-add:hover {
    background-color: #aeaeae45;
}

.user-add p {
    margin-left: 0.2rem;
}

div.btn {
    display: flex;
    transition: margin-top 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    align-items: flex-end;
    float: right;
    pointer-events: all;
}

button#start,
button#version_list_button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 0px #00000045;
    background: #008023;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "fa";
    color: #fff;
    font-size: 1.2rem;
}

button#version_list_button {
    font-size: 0.9rem;
    width: 11.2rem;
    margin-right: 0.6rem;
}

@media (max-width: 920px) {
    .container {
        display: flex;
        align-items: stretch;
        flex-direction: column-reverse;
        justify-content: normal;
    }

    .container-left,
    .container-right {
        width: 100%;
    }
}

div.sidebar {
    background-color: #ffffffcf;
    margin: 50px 0 0 0px;
    border-bottom-left-radius: 8px;
    width: 230px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    display: flex;
    flex-direction: column;
}

.dont_display * {
    display: none !important;
}

div.choose-file-msg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #000;
    opacity: 0;
    z-index: 200;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
}

div.page>iframe {
    width: 100%;
    height: calc(100vh - 120px);
}

div.page>iframe>* {
    transform: scale(0.7);
}

.popup_window {
    display: flex;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: fixed;
    background: #0000004f;

    pointer-events: none;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0, 0.68, 0.25, 1);
    justify-content: center;
    align-items: center;
}

.popup_window_display {
    opacity: 1;
    z-index: 2000;
    pointer-events: all;
}

.popup_window_main {
    border-radius: 8px;
    background: #fff;
    animation: 0.4s popup_window cubic-bezier(0, 0.47, 0.25, 1);
    transition: all 0.2s ease;
}

.popup_window_main>* {
    padding: 1.15rem 0.65rem;
}

.popup_window_main>.body {
    padding: 0.6rem 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_window_main>.body>div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes popup_window {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#login-fail-msg {
    display: block;
    width: 340px;
    color: #4d0000;
    border: 1px solid #c00;
    border-radius: 6px;
    padding: 0.8rem;
    background-color: #ffe6e6;
    line-height: 1.7;
}

#login-fail-msg strong::before {
    font-family: "fa";
    content: "\f071";
    font-style: normal;
    margin-right: 0.4em;
}

ul.list {
    width: 100%;
    padding: 0 6px;
    overflow: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    opacity: 0;
}

ul.list>li {
    width: 100%;
    padding: 8px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0000002e;
    background-color: #fffffffa;
    box-shadow: 0 0 10px #0000;
    margin-top: 6px;
    border-radius: 10px;
}

ul.list div.a,
ul.list div.a {
    display: flex;
}

ul.list div.icon {
    height: 44px;
    width: 44px;
    background: no-repeat center/76%;
}

ul.list li.grass_block .icon {
    background-image: url(../images/Grass_Block.webp);
}

ul.list li.crafting_table .icon {
    background-image: url(../images/Crafting_Table.webp);
}

ul.list li.ancient_debris .icon {
    background-image: url(../images/Ancient_Debris.webp);
}

ul.list div.info {
    padding: 0 0 0 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.list div.info>p {
    height: 1em;
    margin-bottom: 2px;
}

ul.list div.info>span {
    font-size: 12px;
    display: block;
    color: #0000007d;
}

ul.list div.button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    transition: all 0.1s ease;
}

ul.list div.button:hover {
    background: #0000001a;
    transform: scale(1.05);
}

ul.list div.button:active {
    background: #0000002b;
    transform: scale(0.93);
}

ul.list div.button i {
    font-family: "fa-pro";
    font-style: normal;
    font-size: 22px;
    font-weight: 500;
    margin-top: -2px;
}

ul.list div.button i::before {
    content: "\f0ed";
}

ul.list hr {
    border: none;
    border-bottom: 1px solid #00000030;
}

#download_pg div.input {
    margin-bottom: 0;
}

#download_pg .card {
    margin-top: 0;
    width: 100%;
}

#download_pg .card-body>div {
    margin: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#download_pg .card-body {
    border-radius: 7px 7px 0 0;
    /* box-shadow: 0px 3px 9px 0px #00000014; */
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#download_pg div.input {
    justify-content: flex-start;
}

.list-last-one {
    border: none !important;
}

.dispnone {
    display: none !important;
}

div#B9C498C7 {
    display: flex;
    position: absolute;
    align-items: center;
    color: #0000009c;
    font-size: 0.9rem;
    width: 190px;
    margin: auto;
    flex-direction: column-reverse;
    margin-top: 100px;
    background: #fff;
    padding: 2rem;
    height: 130px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #00000014;
    border: 1px solid #00000012;
}

ul.task-list {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

ul.task-list>li {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

    margin-bottom: 4px;
    color: #131415;
    padding: 0 12px;
}

ul.task-list>li:hover {
    background-color: #0000000c;
}

#game_install h4 {
    display: inline;
}

#game_install div.title {
    margin: 0;
}

#game_install div.title p {
    color: #0000007a;
    font-size: 13px;
}

#game_install div.head {
    padding: 1.5rem 1rem 1rem 1rem;
}

#game_install div.title span {
    font-size: 16px;
}

#game_install li span.count {
    font-size: 14px;
    color: #000000a3;
}

.sidebar-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 0.1rem;
}

.sidebar-button:hover {
    background-color: #aeaeae45;
}

.sidebar-button:active {
    background-color: #90909045;
}

.sidebar-button i {
    font-size: 1rem;
    font-family: "fa-pro";
    font-style: normal;
    height: 1em;
    width: 1em;
    text-align: center;
    transition: all 0.2s cubic-bezier(0, 0.61, 0.16, 0.98);
}

.sidebar-button:active i {
    transform: scale(0.7, 1);
}

.sidebar-close {
    width: 60px !important;
}

.sidebar-close p {
    opacity: 0;
}

#download_pg span.name {
    min-width: 3em;
}

#main>div {
    display: flex;
    overflow: hidden;
}

div.child-sidebar {
    /* height: 100%; */
    width: 305px;
    font-size: 16px;
    margin: 0;
    transition: all 0.2s cubic-bezier(0, 0.83, 0.47, 1);
    padding: 1.7rem 0.9rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.child-sidebar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

div.child-sidebar li {
    list-style: none;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.3;
    width: 100%;
    margin: 0.1rem 0;
    border-radius: 0.4rem;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}

div.child-sidebar li:hover {
    background-color: #aeaeae45;
}

div.child-sidebar li.active {
    background-color: rgb(255 255 255 / 39%);
    pointer-events: none;
}

div.child-sidebar li::before {
    background-color: #007bff00;
    content: "";
    height: 22px;
    width: 5px;
    position: relative;
    left: -18px;
    border-radius: 3px;
    transition: background-color 0.15s ease;
}

div.child-sidebar li.active::before {
    background-color: #008023;
    content: "";
}

div.child-sidebar i {
    font-family: "fa-pro";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-right: 7px;
    width: 21px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .rua {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden overlay;
    padding-top: 1.4rem;
}

#download_pg .input-data-list {
    width: 120px;
    min-width: unset;
}

#download_pg .input-list ul.option {
    min-width: unset;
    width: 130px;
}

.rua>div {
    width: 100%;
    /* transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); */
}

div.user-data {
    display: flex;
    justify-content: space-between;
}

div.user-data>div:first-child {
    display: flex;
}

div.user-data>div:first-child>img {
    pointer-events: none;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0 0 11px #0000004a;
}

div.user-data>div:first-child>div {
    /* width: 100%; */
    padding: 0 0 0 20px;
}

div.user-data>div:first-child>div>p {
    color: #00000091;
    margin-top: 0px;
    /* margin-left: 4px; */
    font-size: 13px;
}

div.user-data>div:last-child {width: 100px;height: 68px;display: flex;flex-direction: column;justify-content: space-between;}